
@import "../styles/colorStyle";
@import "../styles/fontStyle";
@import "../styles/elementStyle";



.password-container{
padding: 42px 84px;
}
.password-view_box{
    width: 40%;
    margin: 0 auto;
    padding-top: 94px;
}
.reset-password_label{
    margin: 0;
    font-size: map-get($font-sizes, "large");
	color: map-get($font-color, "default");
	font-weight: map-get($font-weight, "normal-weight");
    text-align: center;
}
.reset-cont_label{
    margin: 0;
    font-size: map-get($font-sizes, "xs-small");
	color: map-get($font-color, "subdued");
    text-align: center;
    padding-top: 6px;
}
.password-input_box{
    border-top: 1px solid #DFE1E5;
    margin-top: 24px;
    padding: 24px 0;
}
.all-login_cont{
    margin: 0;
    font-size: map-get($font-sizes, "small");
	color: map-get($font-color, "link");
    text-align: center;
    font-weight: map-get($font-weight, "normal-weight");
    padding-top: 20px;
    cursor: pointer;
}
.all-login_cont span{
   padding-right: 10px;
}
.text-empty_content{
    color: map-get($font-color, "error" ) ;
    padding-top: 6px;
    font-size: map-get($font-sizes, "xs-small");
  }