@import "../styles/colorStyle";
@import "../styles/elementStyle";
@import "../styles/fontStyle";
.arrange-letter {
  font-size: map-get($font-sizes, "normal");
  color: map-get($font-color, "subdued");
  margin: 16px 10px;
}
.student-data {
  display: flex;
  align-items: center;
  margin: 0 6px;
  background-color: #f4f5f7;
  padding: 10px 8px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.select-stud {
  width: 20px;
  height: 15px;
  margin-right: 13px;
}
.student-details {
  margin-left: 12px;
}
.student-model {
  margin-bottom: 8px;
}
.std-name {
  font-size: map-get($font-sizes, "normal");
  color: map-get($font-color, "default");
  margin: 0;
}
.std-id {
  font-size: map-get($font-sizes, "small");
  color: map-get($font-color, "subdued");
  margin: 0;
}
