@import "../styles/colorStyle";
@import "../styles/fontStyle";
@import "../styles/elementStyle";

.upload_file-content {
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 14px;
}